.series-display {
    padding-top: 1rem;
    padding-left: 1rem;
}

.series-display .header {
    font-size: x-large;
}

.series-display .header .name {
    font-weight: bold;
}

.series-display .sequenced-contents {
    margin-top: 1rem;
}

.series-display .sequenced-contents .program {
}

.series-display .sequenced-contents .program .main .title {
    font-weight: bold;
}

.series-display .sequenced-contents .program .main .title a {
    text-decoration: none;
    color: black;
}

.series-display .sequenced-contents .program .main .year {
    font-style: italic;
    margin-left: .5rem;
}

.series-display .sequenced-contents .program .auxiliary {
    font-size: small;
}

.series-display .sequenced-contents .program .auxiliary .alternate-titles {
    font-style: italic;
}

.series-display .sequenced-contents .program .auxiliary .version {
}

.series-display .sequenced-contents .package .name {
    font-weight: bold;
}

.series-display .sequenced-contents .disc .name {
    font-weight: bold;
}

.series-display .sequenced-contents .contained-series .name {
    font-weight: bold;
}

.series-display .sequenced-contents .contained-series .name a {
    color: black;
    text-decoration: none;
}

.series-display .wrapper-series-display {
    margin-top: 1rem;
    padding-left: .5rem;
}

.series-display .wrapper-series-display .wrapper-series {
    font-weight: bold;
}

.series-display .wrapper-series-display .wrapper-series a {
    color: black;
    text-decoration: none;
}