.location-display {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.location-display .header {
    font-size: x-large;
}

.location-display .header .name {
    font-weight: bold;
}

.location-display .header .filled {
    margin-left: 1rem;
    font-size: medium;
    font-style: italic;
}

.location-display .location-discs {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px black solid;
}

.location-display .location-discs .disc {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.location-display .location-discs .placeholder {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.location-display .location-discs .disc a {
    color: black;
    text-decoration: none;
}