.picklist-input-options {
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    margin: 0;
    padding-left: .15rem;
    padding-right: .15rem;
    width: 15rem;
    position: absolute;
    background: white;
}

.picklist-input-options li {
    padding: .25rem .15rem;
    color: #333;
    list-style: none
}

.picklist-input-options li:hover {
    color: black;
    background-color: lightgrey;
}

.picklist-input-field {
    width: 20rem;
}