.listings {
    padding-top: .25rem;
    padding-left: 1rem;
}

.no-listings {
    font-size: larger;
    font-weight: bold;
    color: red;
    text-align: center;
}

.listing-entry {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.listing-entry a {
    color: black;
}

.listing-entry .primary {
    font-weight: bold;
}
.listing-entry .secondary {
    padding-left: .25rem;
}
.listing-entry .tertiary {
    padding-left: .25rem;
    font-style: italic;
}