.search-options {
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    margin: 0;
    padding-left: .15rem;
    padding-right: .15rem;
    width: 10rem;
}

.search-options li {
    padding: .25rem .15rem;
    color: #333;
    list-style: none
}

.search-options li:hover {
    color: black;
    background-color: lightgrey;
}

.search-field {
    width: 10rem;
}