.search {
    display: flex;
    padding-top: 2rem;
    padding-left: 1rem;
    justify-content: center;
}

.search-entry {
    padding-top: .1rem;
    margin-right: .5rem;
}

.search-button {
    margin-left: .5rem;
}

.search-button a {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    border: none;
    padding: .5rem 1rem;
    font-size: small;
    font-weight: bold;
    border-radius: 8rem;
 }